# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.cursor/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Testing
coverage

# Temporary files
.cache
.temp
*.tmp

# Vercel
.vercel
